body {
    margin: 0;
    padding: 30px;
    background-color: #f2cba7;
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 1000;
    color: #e25e51;
}